.board {
    align-items: stretch;
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 100vw;
    justify-content: space-evenly;
    max-height: 800px;
    max-width: 800px;
    width: 100vw;
}