.square {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.625);
    border: 2px solid rgba(0, 0, 0, 0.625);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 25%;
    max-width: 25%;
    position: absolute;
    width: 100%;
}

.value {
    color: rgba(255, 255, 255, 1);
    font-family: 'Delius Unicase', cursive;
    font-size: 32px;
    font-weight: 700;
}