.square {
    align-items: center;
    background-color: cornflowerblue;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 25%;
    max-width: 25%;
    position: absolute;
    width: 100%;
}

.value {
    font-family: 'Delius Unicase', cursive;
    font-size: 32px;
    font-weight: 700;
}